.home {
  .am-tab-bar {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
  }

  .iconfont {
    font-size: 18px;
  }
  .am-tab-bar-bar .am-tab-bar-tab-title {
    font-size: 13px;
  }
}
